*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit

GPATH
GTAGS
GRTAGS

qemu/


.gdb_history
core
gdb-7.3.1.tar.bz2
gdb-7.3.1/

tags
